- var iconClass = "fa-caret-" + (state.order == "desc" ? "down" : "up");
  
mixin check(condition)
  if condition
    i.fa.fa-check.grade-a
  else
    i.fa.fa-close.grade-f

.leaderboard
  if items.length > 0
    table#header-fixed
    table#header-normal
      thead
        tr.leaderboard-row
          th
          th.desktop-only
            .inline-block.align-middle Valid HTTPS
          th.desktop-only
            .inline-block.align-middle Available Over HTTPS
          th.desktop-only
            .inline-block.align-middle Defaults to HTTPS
          th.desktop-only
            .inline-block.align-middle HSTS
          th.desktop-only
            .inline-block.align-middle HSTS Preloaded
          th.sort-control(data-sort-key='score')
            .inline-block.align-middle Grade
            if state.orderBy == 'score'
              i.sort-icon.fa(class=iconClass)
      tbody
        for item in items
          tr.leaderboard-row
            td
              a(href=item.absolute_url)= item.name
              if item.pledge
                a(href=item.pledge.url)
                  i.pledged.fa.fa-handshake-o(title=`${item.name} have pledged to secure their site.`)
            td.desktop-only
              +check(item.valid_https)
            td.desktop-only
              +check(item.valid_https && !item.downgrades_https)
            td.desktop-only
              +check(item.defaults_to_https)
            td.desktop-only
              +check(item.hsts)
            td.desktop-only
              +check(item.hsts_preloaded)
            td
              span(class=`grade ${item.grade.class_name}`)= item.grade.grade
  else
    p.align-center Sorry, no sites match your search query.
