- var iconClass = "fa-caret-" + (state.order == "desc" ? "down" : "up");

mixin check(condition)
  if condition
    i.fa.fa-check.grade-a
  else
    i.fa.fa-close.grade-f

.leaderboard
  if items.length > 0
    p(class='sites-count')= `Total matched sites: ${items.length}`
    table#header-fixed
    table#header-normal
      thead
        tr.leaderboard-row
          th
          th.desktop-only.sort-control(data-sort-key='valid_https')
            .inline-block.align-middle Valid HTTPS
            if state.orderBy == 'valid_https'
              i.sort-icon.fa(class=iconClass)
          th.desktop-only.sort-control(data-sort-key='https_available')
            .inline-block.align-middle Available Over HTTPS
            if state.orderBy == 'https_available'
              i.sort-icon.fa(class=iconClass)
          th.desktop-only.sort-control(data-sort-key='defaults_to_https')
            .inline-block.align-middle Defaults to HTTPS
            if state.orderBy == 'defaults_to_https'
              i.sort-icon.fa(class=iconClass)
          th.desktop-only.sort-control(data-sort-key='hsts')
            .inline-block.align-middle HSTS
            if state.orderBy == 'hsts'
              i.sort-icon.fa(class=iconClass)
          th.desktop-only.sort-control(data-sort-key='hsts_preloaded')
            .inline-block.align-middle HSTS Preloaded
            if state.orderBy == 'hsts_preloaded'
              i.sort-icon.fa(class=iconClass)
          th.desktop-only.sort-control(data-sort-key='onion_available')
            .inline-block.align-middle Available Over Onion Services
            if state.orderBy == 'onion_available'
              i.sort-icon.fa(class=iconClass)
          th.sort-control(data-sort-key='score')
            .inline-block.align-middle Grade
            if state.orderBy == 'score'
              i.sort-icon.fa(class=iconClass)
      tbody
        for item in items
          tr.leaderboard-row
            td
              a(href=item.absolute_url)= item.name
            td.desktop-only
              +check(item.valid_https)
            td.desktop-only
              +check(item.valid_https && !item.downgrades_https)
            td.desktop-only
              +check(item.defaults_to_https)
            td.desktop-only
              +check(item.hsts)
            td.desktop-only
              +check(item.hsts_preloaded)
            td.desktop-only
              +check(item.onion_available)
            td
              span(class=`grade ${item.grade.class_name}`)= item.grade.grade
  else
    p.align-center Sorry, no sites match your search query.
